.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      background: linear-gradient(180deg, rgba(9, 155, 157, 0.596), rgb(1, 76, 78));
      margin-bottom: 20px;
      align-items: center;
}
.navContact{
  display: flex;
  gap:20px;
}
.navRegist{
  display: flex;
  gap: 12px;
}
.link{
color: silver;
font-size: 18px;
}
.active{
  color: rgb(255, 0, 0);
}
.button{
  background-color: black;
  color: red;
  padding: 4px 7px;
  border-radius: 50%;
}
h4{
  color: silver;
}