.wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, rgba(9, 155, 157, 0.596), rgb(1, 76, 78));
  margin-bottom: 20px;
  align-items: center;
  padding: 15px;
}
h4 {
  color: orange;
      transition: all ease 0.3s;
    &:hover{
      transform: scale(1.05);
    }
}
