.searchBoxContainer{
  padding: 15px;
}
.searchBoxInput {
  width: 250px;
  padding: 4px 10px;
  margin-top: 10px;
  background: linear-gradient(90deg, aqua, rgb(1, 76, 78));
  border: none;
  outline: none;
  border-radius: 5px;
  color: black;
  line-height: 1.5;
}
.h3 {
  color: lime;
}
