.navContact{
  display: flex;
  gap:20px;
}
.link{
color: orange;
font-size: 18px;
      transition: all ease 0.3s;
    &:hover{
      transform: scale(1.07);
    }
}
.active{
  color: rgb(255, 0, 0);

}