.contactInfo {
  display: flex;
  flex-direction: column;
}
.design {
  color: gold;
}
.contactName {
  margin-bottom: 4px;
}
.deleteButton {
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    color: orangered;
    background-color: yellow;
  }
}
