.wrapper{
display: flex;
justify-content: center;
padding: 20px 0 20px 0;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 15px;
  background: linear-gradient(360deg, aqua, rgb(1, 76, 78));
}
  .label{
display: flex;
flex-direction: column;
gap: 2px;
  }
.inputField {
      background: linear-gradient(180deg, aqua, rgb(1, 76, 78));
    border: none;
    outline: none;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.5;
}

.errorMessage {
  font-size: 12px;
  color: red;
}

.submitButton {
  width: fit-content;
  padding: 8px 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
  background-color: teal;
  color: greenyellow;
  box-shadow: 2px 2px 2px 2px lightgreen;
  transition: transform 0.3s ease;
    &:hover {
    transform: scale(1.03);
    color: orange;
  }
}
.book{
  margin: 0 auto;
  margin-bottom: 10px;
  color: aquamarine;
}

