.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, aqua, rgb(1, 76, 78));
}
.input{
  background: linear-gradient(180deg, aqua, rgb(1, 76, 78));
  border: none;
  outline: none;
  border-radius: 5px;
color: white;
}
h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: aquamarine;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, aqua, rgb(1, 76, 78));
  label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    input {
      padding: 3px 5px;
      line-height: normal;
    }
  }
  button {
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    margin-top: 20px;
    border-color: tomato;
    color: darkorange;
    background-color: darkcyan;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    &:hover {
      transform: scale(1.02);
      color: cyan;
      background-color: chocolate;
    }
  }
}
.pRegister {
  font-size: 15px;
  letter-spacing: 0.02em;
}
.a {
  text-decoration: underline;
  color: blue;
  }

