.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 15px ;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 12px;
  width: 300px;
   background-color: teal;
   color: greenyellow;
   box-shadow: 3px 3px 3px 3px lightgreen;
   transition:  transform 0.3s ease;
   &:hover{
   transform: scale(1.03)
   }
}
