.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(180deg, aqua, rgb(1, 76, 78));
}
.p {

color: lime;
font-size: 30px;
padding: 0 15px;
}
